# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
.next/
**/.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Environment
.DS_Store
Thumbs.db
